useDynLib(rayplot, .registration = TRUE)
importFrom(later, later)
export(rayplot)
export(rayplot_close)
export(rayplot3D_scatter)
export(rayplot3D_close)
export(rayplot_spec)
export(rayplot_serialize)
export(rayplot_web)
export(rayplotCanvas)
export(rayplot_send)
